<?xml version="1.0"?>
<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom"
        args="0 0 0 0 0 0 1 map odom"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_footprint"
        args="1 2 0 0 0 0.7071 0.7071 odom base_footprint"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="habitat_ref_tf"
        args="0 0 -0.47 0.5 -0.5 -0.5 0.5 map habitat_map"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="habitat_robot_tf"
        args="0 0 0 0.5 -0.5 -0.5 0.5 base_footprint habitat_base_footprint"/>

    <node pkg="rviz" type="rviz" name="rviz"
        args="-d /home/wgw/py_ws/wgw101/habitat_sim2real/test/test_make_pose_stamped.rviz"/>
</launch>
